@tailwind base;
@tailwind components;
@tailwind utilities;

.ContainerMeat {
  container-type: inline-size;
  container-name: meat;
}

/* @container meat (min-width: 300px) {
  .TilePAUSE {
    width: calc( (100cqw - 8px*2 - 16px*2 - 8px*2) / 3);
    height: calc( (100cqw - 8px*2 - 16px*2 - 8px*2) / 3);
  }
} */

@layer components {
  body * {
    /* @apply transition-all duration-150; */
  }

  /* RadioSlider
   *   Stylized Radio button + Label that appears as a tabbed
   *   toggle between 2, 3, or 4 options, displayed as a horizontal list
   */
  .RadioSlider {
    @apply row-0 py-1;
    @apply text-sm;
  }

  .RadioSlider input[type=radio] {
    @apply hidden;
  }

  .RadioSlider label {
    @apply bg-gray-200;
    @apply px-3 py-1 my-1;
    @apply border-2 border-x-gray-200 border-y-white;
    @apply cursor-pointer;
    /* BUG: forces parent to be the same height */
    @apply flex;
  }

  .RadioSlider input:checked + label {
    @apply py-2 my-0;
    @apply bg-white;
    @apply border-ocean-400;
  }
}

/* Tailwind bug: a theme.animation referencing a theme.keyframe */
/* does not trigger the compilation of the animation, so it shows up */
/* as undefined. Adding it explicitly to globals.css makes it accessible */
@keyframes mfabounce {
  0%  { transform: translateY(0); }
  6%  { transform: translateY(0); }
  10% { transform: translateY(-8px); }
  12% { transform: translateY(0); }
  14% { transform: translateY(-6px); }
  16% { transform: translateY(0); }
  18% { transform: translateY(-3px); }
  20% { transform: translateY(0); }
  22% { transform: translateY(-2px); }
  24% { transform: translateY(0); }
  100% { transform: translateY(0); }
}