@tailwind base;
@tailwind components;
@tailwind utilities;

.ContainerMeat {
  container-type: inline-size;
  container-name: meat;
}

@container meat (min-width: 300px) {
  .Tile {
    /* Determine the width and height of a tile relative to the container size */
    width: calc( (100cqw - 16px*2 - 8px*2) / 3);
    height: calc( (100cqw - 16px*2 - 8px*2) / 3);
  }
}

@layer components {
  .SelectBox {
    @apply row-0 py-1;
    @apply text-sm;
  }

  .SelectBox input[type=radio] {
    @apply hidden;
  }

  .SelectBox label {
    @apply bg-gray-200;
    @apply px-3 py-1 my-1;
    @apply border-2 border-x-gray-200 border-y-white;
    @apply cursor-pointer;
  }

  .SelectBox input:checked + label {
    @apply py-2 my-0;
    @apply bg-white;
    @apply border-ocean-400;
  }

  .ButtonSubmit {
    @apply bg-ocean-400 text-white text-sm;
    @apply px-4 py-1;
    @apply cursor-pointer;
  }

  .ButtonSubmit:hover { @apply bg-ocean-500 }

  .ButtonCancel {
    @apply px-4 py-1;
    @apply cursor-pointer;
  }

  .ButtonCancel:hover { @apply bg-gray-100; }

  .TileTodo {
    @apply border border-dashed border-gray-300 text-gray-400;
  }
}