.Todo {
  @apply border border-2 border-dashed border-ocean-300;
  @apply text-ocean-200;
  
  &:hover, &:active {
    @apply border-gray-500 text-gray-600;
  }
}

.Highlight {
  @apply border border-2 border-dashed border-yellow-200;
  @apply text-yellow-200;
  @apply bg-yellow-200/20;

  &:hover, &:active {
    @apply bg-yellow-200;
  }
}

.Base {
  @apply bg-ocean-100;
}

.modal {
  @apply absolute m-0 rounded overflow-hidden shadow-lg;
  @apply border-2 border-white;

  &[open]::backdrop {
    background-color: rgba(0,0,0,0.4);
    animation: show 150ms ease forwards;
  }

  &[open] {
    -webkit-animation: show 150ms ease normal;
  }
}

@-webkit-keyframes show{
  from { opacity: 0; }
  to { opacity: 1; }
}