.modal {
  @apply mx-2 p-2 rounded-tl-lg rounded-tr-lg;
  @apply bg-white;
  width: calc(100% - 2*0.5rem);
  @apply absolute bottom-0 z-50;
  
  transform: translateY(100%);
  transition: transform 0.2s ease-out;
}

.visible {
  transform: translateY(0);
  @apply shadow-top;
}